Repository IBM-EPBL/IBM-Project-22781-1659858111, pull requests merged in 2022-09, with the labels that each got.

#3 added Ideation Phase in `README.md`
  README.md
Labels: documentation

#5 added `Assignments` folder
  Assignments/placeholder
Labels: structure

#6 removed `Made using Flask` string
  README.md
Labels: documentation

#11 typo fix and path correction
  Assignments/Aadhavan/Assignment-1/index.html
Labels: bug, structure, Assignment

#12 added some stuff to `Assignment-2`
  .gitignore
  Assignments/Aadhavan/Assignment-2/flask-app/app.py
  Assignments/Aadhavan/Assignment-2/flask-app/schema.sql
  Assignments/Aadhavan/Assignment-2/flask-app/static/style.css
  Assignments/Aadhavan/Assignment-2/flask-app/templates/index.html
  Assignments/Aadhavan/Assignment-2/flask-app/templates/signin.html
  Assignments/Aadhavan/Assignment-2/flask-app/templates/signup.html
Labels: enhancement, Assignment

#13 Added some stuff to `Assignment-2`
  Assignments/Aadhavan/Assignment-2/flask-app/.gitignore
  Assignments/Aadhavan/Assignment-2/flask-app/README.md
  Assignments/Aadhavan/Assignment-2/flask-app/app.py
Labels: documentation, enhancement, Assignment

#14 Added `Assingments`
  Assignments/Vijay/Assignments-1/index.html
  Assignments/Vijay/Assignments-1/static/logo.png
  Assignments/Vijay/Assignments-1/static/logotcx.png
Labels: Assignment

#16 Assignments-1
  Assignments/Musthapa/Assignments-1/index.html
  Assignments/Musthapa/Assignments-1/static/logotcx.png
Labels: Assignment
